<h2>Sửa sản phẩm</h2>
<form action="" class="">
    <label for="name">Name</label>
    <input type="text" id="name" ng-model="inputValue.name" class="form-control" placeholder="Nhập tên">
    <span ng-show="checkData.name==true" style="color: red;">Vui lòng nhập tên</span>
    <br>
    <label for="price">Price</label>
    <input type="text" id="price" ng-model="inputValue.price" class="form-control" placeholder="Nhập giá">
    <span ng-show="checkData.price==true" style="color: red;">Vui lòng nhập giá</span>
    <br>
    <label for="title">Tiêu đề</label>
    <input type="text" id="title" ng-model="inputValue.title" class="form-control" placeholder="Nhập tiêu đề">
    <span ng-show="checkData.title==true" style="color: red;">Vui lòng tiêu đề</span>
    <br>

    <label for="desc">Danh mục</label>
    <select class="form-select" aria-label="Default select example" ng-model="inputValue.cate">
        <option value="" aria-checked="true"></option>
        <option ng-repeat="c in categories" value="{{c.id}}">{{c.name}}</option>
    </select>
    <span ng-show="checkData.cate==true" style="color: red;">Vui chọn danh mục</span>
    <br>

    <label for="desc">Mô tả</label>
    <input type="text" id="desc" ng-model="inputValue.desc" class="form-control" placeholder="Nhập mô tả">
    <span ng-show="checkData.desc==true" style="color: red;">Vui lòng mô tả</span>
    <br>
    <button class="btn bg-primary text-light" ng-click="onEditForm()">Sửa</button>
</form>